.header {
  position: fixed;
  top: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  background-color: white;
  z-index: 100;
}

.form {
  display: flex;
  gap: 20px;
}

.field {
  color: #757575;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  width: 800px;
  padding-left: 10px;
  border-width: 1px;
  border-radius: 4px;
}

.button {
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
  border-color: transparent;
  box-shadow: 0px 0px 6px 1px rgba(237, 235, 228, 1);
}
